.hi > div {
    margin-top: 20px;
}
.title{
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.logo{
    width: 40vh;
}

.login__button {
    margin-top: 2rem;
    text-align: center;
    background-color: none;
}
.googleLogin__button {
    width: 15rem;
    
    ;
}

.kakaoLogin__button{
    margin-top: 10px;
    width: 15rem;
    
}