@use "../abstracts" as *;

.myPageFirstClass {
  width: 100vw;
  height: 100vh;
  background-image: url(../../pages/components/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
